<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="fragmentContent">

    <div class="container mt-5" th:style="${'font-family: Oswald, sans-serif; color: #12044F; margin-bottom: 100px;'}">

        <th:block th:if="${allPizzas.length == 0}">
            <div class="text-center">
                <h2 th:text="${'No pizzas currently available!'}"></h2>
                <button class="btn btn-secondary mt-5" th:onclick="redirectHome()" th:text="${'Home'}"></button>
            </div>
        </th:block>

        <th:block th:if="${allPizzas.length > 0}">
            <div class="row">
                <h1>All Pizzas</h1>
            </div>

            <input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
            
            <table class="table table-striped table-bordered mt-4" id="listingTable">
                <thead class="table-danger">
                    <tr>
                        <th class="text-center" style="vertical-align: middle;">Image</th>
                        <th class="text-center" style="vertical-align: middle;">Name</th>
                        <th class="text-center" style="vertical-align: middle;">Description</th>
                        <th class="text-center" style="vertical-align: middle;">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="pizza : ${allPizzas}">
                        <td class="text-center" style="vertical-align: middle;">
                            <img th:onerror="this.src='https://t4.ftcdn.net/jpg/00/31/38/91/360_F_31389192_BEjagnNVligizqQwN6HvvOqgIJNmhHmj.jpg'"
                                 th:src="@{${pizza.imageUrl}}" class="img-fluid img-thumbnail" style="width: 150px;height: 100px;object-fit: cover;" />
                        </td>
                        <td class="text-center" style="vertical-align: middle;" th:text="${pizza.name}"></td>
                        <td class="text-center" style="vertical-align: middle;" th:text="${pizza.description}"></td>
                        <td class="text-center" style="vertical-align: middle;">
                            <button class="btn btn-success" th:onclick="redirectPizzaDetailsUser([[${pizza.pizzaId}]])" th:text="${'Order Now'}"></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-secondary me-2" th:onclick="prevPage()" id="btn_prev">Prev</button>
                <span class="align-self-center me-2">page: <span id="page"></span></span>
                <button class="btn btn-secondary" th:onclick="nextPage()" id="btn_next">Next</button>
            </div>
            
            <script th:src="@{/js/pagination.js}"></script>
        </th:block>

    </div>

    

</th:block>
</html>
